# Copie este arquivo para .env e preencha com seus dados

# Database
DATABASE_URL="postgresql://usuario:senha@localhost:5432/casamento_db?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="seu-secret-key-aqui-gerar-com-openssl-rand-base64-32"

# App
APP_NAME="Nosso Casamento"



